<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/common.css}">	
</head>
<body class="container mt-4">
	<div th:replace="~{fragments/header :: headerFragment}"></div>
	<h1 class="mb-4">✍ 글 작성</h1>
	
	<form th:action="@{/board/write}" th:object="${boardDTO}" method="post">
		<div class="mb-3">
			<label class="form-label">제목</label>
			<input type="text" class="form-control" th:field="*{brdTitle}" placeholder="제목을 입력하세요." th:class="${#fields.hasErrors('brdTitle')} ? 'form-control field-error' : 'form-control'">
			<div th:if="${#fields.hasErrors('brdTitle')}" th:errors="*{brdTitle}" class="error-message"></div>
		</div>
		<div class="mb-3">
			<label class="form-label">작성자</label>
			<input type="text" class="form-control" th:field="*{brdWriter}" placeholder="작성자를 입력하세요." th:class="${#fields.hasErrors('brdWriter')} ? 'form-control field-error' : 'form-control'">
			<div th:if="${#fields.hasErrors('brdWriter')}" th:errors="*{brdWriter}" class="error-message"></div>
		</div>
		<div class="mb-3">
			<label class="form-label">내용</label>
			<textarea class="form-control" th:field="*{brdContent}" rows="6" placeholder="내용을 입력하세요." th:class="${#fields.hasErrors('brdContent')} ? 'form-control field-error' : 'form-control'"></textarea>
			<div th:if="${#fields.hasErrors('brdContent')}" th:errors="*{brdContent}" class="error-message"></div>
		</div>
		<button type="submit" class="btn btn-success">저장</button>
		<a href="/board" class="btn btn-secondary">취소</a>
	</form>

</body>
</html>