<header th:fragment="headerFragment" class="d-flex justify-content-between align-items-center px-5 mb-3">
	<!-- 왼쪽 로고 -->
	<div>
		<a th:href="@{/home}" style="text-decoration: none; font-weight: bold;">
			<img class="home-logo" th:src="@{/image/chelsea-logo.png}" alt="Home Logo">
		</a>
	</div>
	
	<!-- 가운데 메뉴 -->
	<div class="d-flex align-items-center menu-list gap-4">
		<a th:href="@{/board}">게시판</a>
		<a th:href="@{/order}">결제연습</a>
	</div>
		
	<!-- 오른쪽 로그인 영역 -->
	<div class="d-flex align-items-center">
		<!-- 로그인 안 했을 때 -->
		<div sec:authorize="!isAuthenticated()">
			<a th:href="@{/user/login}">
				<i class="fa-solid fa-circle-user user-icon"></i>
			</a>
		</div>

		<!-- 로그인 했을 때 -->
		<div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-1">
		    <span class="me-2 join-text">
				<strong th:text="${#authentication.principal.nickname}"></strong> 님 환영합니다
			</span>
			<a th:href="@{/user/mypage}">
				<!-- 나중에 이미지 저장하면 사용 -->
			    <!-- <img th:src="${session.loginUser.userProfile != null ? session.loginUser.userProfile : '/img/default-profile.png'}" alt="프로필" class="profile"> -->
				<div class="user-img">
					<img th:src="@{/image/default-avatar.png}">		
				</div>
			</a>				
		    <!--<a href="/user/logout">로그아웃</a>-->		
			<!-- 로그아웃 버튼 -->
			<button type="button" class="btn btn-secondary m-4" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fas fa-sign-out-alt"></i></button>
		</div>				
	</div>
		
	<!-- 로그아웃 모달 -->
	<div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">로그아웃</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					정말 로그아웃 하시겠습니까?
				</div>
				<div class="modal-footer">
					<a th:href="@{/user/logout}" class="btn btn-primary">확인</a>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
		
</header>