/* 공통 */
thead {
	text-align: center;
}

.align-center {
	text-align: center;	
}

/* 헤더부분 */
header {
	background-color : #034694;
	height : 90px;
}

.home-logo{
	width: 55px;
	height: 55px;
}

.menu-list > a{
	color: #F0E9DF;
	text-decoration: none;
}

.user {
	max-width: 400px;
}


.user-icon {
	font-size: xxx-large;
    color: #F0E9DF;
	text-shadow: -1px 0px gray, 0px 1px gray, 1px 0px gray, 0px -1px gray;
}

.user-img {
	width : 50px;
	height: 50px;
	border-radius: 70%;
	overflow: hidden;
	display: flex;
}

.user-img image {
	width : 100%;
	height: 100%;
	object-fit: cover;
} 

/* 회원가입 */
.join-text {
	color: #F0E9DF;
}

/* 글쓰기 */
.field-error{
	border-color: red;
}

.error-message {
	color : red;	
}

/* 게시판 */
.board-list {
	cursor: pointer;
}

.board-list:hover .contents {
	text-decoration: underline;
}












