<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restartboard.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO restartdb.board
		    (
		        brd_title
		      , writer_id
		      , brd_content
		      , brd_reg_time
		) VALUES (
		        #{brdTitle}
		      , #{writerId}
		      , #{brdContent}
		      , #{brdRegTime}
		)
    </insert>

	<select id="selectAllPosts" resultType="com.example.restartboard.dto.BoardDTO">
        SELECT 
               b.brd_id         AS brdId
             , b.brd_title      AS brdTitle
             , b.writer_id      AS writerId
             , u.user_nickname  AS writerNickname
             , b.brd_content    AS brdContent
             , b.brd_reg_time   AS brdRegTime
          FROM 
               board b INNER JOIN USER u
               ON b.writer_id = u.user_id
         ORDER BY b.brd_id DESC    		   
	</select>

</mapper>