<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restartboard.mapper.BoardMapper">

    <insert id="insertPost" parameterType="BoardDTO">
        INSERT INTO restartdb.board
		(brd_id, brd_title, brd_writer, brd_content, brd_reg_time)
		VALUES (#{title}, #{writer}, #{content}, #{writeTime});
    </insert>

</mapper>