<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restartboard.mapper.ProductMapper">

	<select id="getProductList" resultType="com.example.restartboard.dto.ProductDTO">
		SELECT 
		       p.prod_id        AS productId
		     , p.prod_name		AS productName
		     , p.prod_unt_prc	AS productUnitPrice
		     , p.prod_reg_time	AS productRegistTime
		     , u.user_name		AS userName
		     , u.user_email		AS userEmail
		  FROM product p INNER JOIN `user` u
		 USING (user_id)
		 ORDER BY p.prod_reg_time DESC;	   
	</select>
	
	<select id="getProduct" parameterType="long" resultType="com.example.restartboard.dto.ProductDTO">
		SELECT 
		       p.prod_id        AS productId
		     , p.prod_name		AS productName
		     , p.prod_unt_prc	AS productUnitPrice
		     , p.prod_reg_time	AS productRegistTime
		     , u.user_name		AS userName
		     , u.user_email		AS userEmail
		  FROM product p INNER JOIN `user` u
		 USING (user_id)
		 WHERE p.prod_id = #{productId};
	</select>

</mapper>