<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restartboard.mapper.UserMapper">

	<select id="findByEmail" resultType="com.example.restartboard.entity.UserEntity" parameterType="String">
		SELECT 
			   user_id			AS userId
			 , user_email		AS userEmail
			 , user_pwd			AS userPwd
			 , user_nickname	AS userNickname
			 , user_name		AS userName
			 , user_role		AS userRole
			 , user_provider	AS userProvider			 
			 , user_reg_time	AS userRegTime			 
  		  FROM 
       		   user u
         WHERE 
               user_email = #{userEmail}        		   
	</select>

</mapper>